<!DOCTYPE html>
<html lang="en">

<head>
  <title>Rainy Day | {{page_name}}</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700"
  rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
  integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/project1.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  {% block body %}
  {% endblock %}
</body>

</html>