<h3 class="mb-3">Submit Check In</h3>
{% include "includes/flash.html" %}
<form action="{{ url_for('check_in') }}" method="post">
  <div class="form-group">
    {% if "username" in session %}
      <!-- display as readonly if user has already commented-->
      {% if commented == True %}
        <textarea name="comment" class="form-control" id="comment" rows="3"
        placeholder="Comment already submitted." readonly></textarea>
      {% else %}
        <textarea name="comment" class="form-control" id="comment" rows="3"
        placeholder="Submit a comment." required></textarea>
      {% endif %}
    {% else %}
      <textarea name="comment" class="form-control" id="comment" rows="3"
      placeholder="Login to place a comment." readonly></textarea>
    {% endif %}
  </div>
  <!-- hide button if user has already commented or isn't logged in -->
  {% if "username" in session %}
    {% if commented == True %}
    {% else %}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit Check In</button>
      </div>
    {% endif %}
  {% endif %}
</form>