{% set page_name = location.city.lower().capitalize() + ", " + location.state + "
| " + location.zipcode %} 

{% extends "layouts/default.html" %}

{% block body %}
{%include "includes/navbar.html" %}
<div class="container">
  <div class="row">
    <div class="col col-sm-8 col-md-6 offset-sm-2 offset-md-3">
      <div class="d-flex flex-column">
        <h1 class="text-capitalize">{{location.city.lower()}}, {{location.state}}</h1>
        <span>
          <span class="font-weight-bold">ZIP</span>
          <span> | {{location.zipcode}}</span>
        </span>
        <span>
          <span class="font-weight-bold">LAT, LONG</span>
          <span> | {{location.lat}}, {{location.long}}</span>
        </span>
        <span>
          <span class="font-weight-bold">POPULATION</span>
          <span> | {{location.population}}</span>
        </span>
      </div>
      <hr>
      <div class="d-flex flex-column">
        <h2>Weather</h2>
        <span>
          <span class="font-weight-bold">SUMMARY</span>
          <span> | {{weather.summary}}</span>
        </span>
        <span>
          <span class="font-weight-bold">TEMPERATURE</span>
          <span> | {{weather.temperature | int}}&#176;F</span>
        </span>
        <span>
          <span class="font-weight-bold">DEW POINT</span>
          <span> | {{weather.dewPoint | int}}&#176;F</span>
        </span>
        <span>
          <span class="font-weight-bold">HUMIDITY</span>
          <span> | {{(weather.humidity * 100) | int}}%</span>
        </span>
        <span class="mt-4">
          <span class="font-weight-bold"> LAST UPDATED</span>
          <span>| {{time}}</span>
        </span>
      </div>
      <hr>
      <div class="d-flex flex-column">
        <h3 class="mb-3">Submit Check In</h3>
        {% include "includes/flash.html" %}
        <form action="{{ url_for('check_in') }}" method="post">
          <div class="form-group">
          {% if "username" in session %}
            <!-- display as readonly if user has already commented-->
            {% if commented == True %}
            <textarea name="comment" class="form-control" id="comment" rows="3"
            placeholder="Comment already submitted."
            readonly></textarea>
            {% else %}
            <textarea name="comment" class="form-control" id="comment" rows="3"
            placeholder="Submit a comment."
            required></textarea>
            {% endif %}
            {% else %}
            <textarea name="comment" class="form-control" id="comment" rows="3"
            placeholder="Login to place a comment."
            readonly></textarea>
           {% endif %}
          </div>
          <!-- hide button if user has already commented or isn't logged in -->
          {% if "username" in session %}
            {% if commented == True %}
            {% else %}
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit Check In</button>
          </div>
          {% endif %}
        {% endif %}
        </form>
      </div>
      <div class="d-flex flex-column">
        <h3>Check Ins</h3>
        <span>
          <span class="font-weight-bold">Total</span>
          <span>| {{comments.rowcount}}</span>
        </span>
      {% for comment in comments | reverse %}
        <div class="card bg-dark mt-4">
          <div class="card-body">
            <div class="card-title">
              <h5>{{comment.username}}</h5>
            </div>
            <div class="card-text">
              <p class="mb-0">{{comment.comment}}</p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}